version: "3.8"
services:
  mysql-database:
    build: ./mysql-database
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    restart: always
  web-nodejs:
    build: ./web-nodejs
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_HOST: mysql-database
    ports:
      - ${PORT}:${PORT}
    depends_on:
      - mysql-database
    restart: on-failure
    env_file:
      - .env